.main-category{
    margin-top: 120px;
}

.category-content{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.category-content .left{
    width: 220px;
}
.category-content .left h3{
    font-size: 1.6rem;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
}
.category-content .left li {
    padding: 14px;
}
.category-content .left a{
    text-decoration: none;
    color:#333;
    font-size: 1.6rem;
}
.category-content .left a:hover{
    text-decoration: underline;
}
.category-content .right{
    flex: 1;
}
.category-heading{
    font-size: 2rem;
    text-align: center;
    mb
}