.content-news {
  margin-top: 120px;
}
.content-news img {
  width: 100%;
  height: 250px;
}
.content-body_news{
    margin-top: 60px;
}
.content-body_news h2{
    padding: 0 120px;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.76;
    font-family: 'DM-san', sans-serif;
    color: #333;

}
.content-body_news .passage-news{
    margin-bottom: 30px;
}
.content-body_news h3{
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 12px;
}
.content-body_news p{
    color: #333;
    font-size: 1.6rem;
    line-height: 1.67;
}
.content-news .celebrity-list{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.content-news .celebrity-item{
    height: 500px;
}
