.main-product{
    margin-top: 80px;
}
.banner-product{
    width: 100%;
    height: 250px;
}
.banner-product img{
    width: 100%;
    height: 100%;
}

.list-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.product-link{
    text-decoration: none;
}
.product-card{
    width: 288px;
}
.img-product{
    width: 100%;
    height: 290px;
    overflow: hidden;
}
.img-product img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.img-product img:hover{
    transform: scale(1.1);
}
.info-card{
    padding: 10px 20px;
}
.info-card h3{
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-color);
}
.price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
    margin-top: 8px;
}
.more-product{
    display: block;
    margin-top: 60px;
    text-align: center;
    background-color: ;
}
